
.sidenav
 span(class="close-cart") &times 
 h1 Your Cart Items
 .cart-container
  //- .cart-product
  //-  .cart-img-container
  //-    img(src="https://dl.airtable.com/.attachmentThumbnails/e8bc3791196535af65f40e36993b9e1f/438bd160", class="cart-img" ,alt="product" )
  //-  .cart-info 
  //-    p(class="price") albany 
  //-    p(class="name") 123
  //-    button(type="button" class="remove-btn") remove 
  //-  .chevrons 
  //-    i.fa.fa-chevron-up.chev 
  //-     div 0
  //-    i.fa.fa-chevron-down.chev
 .total-container
   p(class="total") Total
   p(class="total-price") 0
 .purchase-container
   button(class="purchase-btn" type="submit") Purchase
   button(class="clear-btn") Clear

  
  

