.changes.getPassword
 h2 Change Password
//- sucess message or error when chnaging password
.change-password-message 
 main.change-password-container
  form.password-form
  .form-info
    label(for='oldPassword') Current Password
    br
    input#oldPassword(type='password', name="oldPassword" placeholder="Your Current Password")
    br
    label(for='password') new Password
    br  
    input#newPassword(type='password',name="password" placeholder="*****")
    br
    label(for='changePwdConfirm') confirm new Password
    br
    input#changePwdConfirm(type='password',name="confirmPassword" placeholder="*****")
    br
    button.save-password(type="submit") Save Changes
