
.reviews.getReviews
 .main 
   h2 Your Reviews
   .underline 
.reviewMainContainer 

//-  .review
//-   .img-container
//-    img(src="https://dl.airtable.com/.attachmentThumbnails/e8bc3791196535af65f40e36993b9e1f/438bd160" class="review-img" alt=`me`)
//-    span 20-07-21
//-   .stars
//-    i.fa.fa-star
//-    i.fa.fa-star
//-    i.fa.fa-star
//-    i.fa.fa-star
//-   .user-review
//-    p loredsjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj
//-   button(type="button" class="remove-review") delete review
include _footer
script(src="/JS/index.js")
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")