meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
title= title
main
  //  HEADER 
  include _header
  //  NAV 
  nav.nav-bar
    div
      a.head(href='/furnitures') Furnitures
    .login-signUp-container
      .user-container
        .user-img-container
          a(href='#')
            img.uploaded-img(src='/IMG/default.png', alt="null")
        ul.login-signUp-links
          li
            a(href='/furnitures/login') Login
          li
            a(href='/furnitures/signUp') signUp
//  END OF THE MAIN 
//  SIGNUP 
.reset-message 
  
.reset-container
  form.forgot-form
    label(for='email') Email
    br
    input#email(type='text', name='email', placeholder='Your current email')
    br
    .submit-container
      button.btn.reset-btn(type='submit') submit
//  FOOTER 
include _footer
script(src="/dist/bundle.js") 

